.todos {
    padding: 16px;
    
    &__item {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 8px;
        background-color: #f5f5f5;   
        }

    &__item:hover {
        color: #777;
        cursor: pointer;
    }
}


